<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Login</title>
</head>

<body>

<h2>Admin Login</h2>

<p th:text="${error}"></p>

<form th:action="@{/adminLogin}" method="post">

    <input type="email"
           name="email"
           placeholder="Enter Admin Email">

    <br><br>

    <input type="password"
           name="password"
           placeholder="Enter Password">

    <br><br>

    <button type="submit">

        Login

    </button>

</form>

</body>

</html>